@model VehicleManufacturerViewModel
@{
    ViewBag.Title = "Add Vehicle Manufacturer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section H1 {
    <h1>Vehicle Manufacturers</h1>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add Vehicle Manufacturer</h3>
    </div><!-- /.box-header -->

    @using (Html.BeginForm("Add", "VehicleManufacturers", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" })) {
        
        <div class="box-body">

            @Html.ValidationSummary()

            

            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.Title, "Vehicle Manufacturer Name", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Manufacturer.Title, new { placeholder = "Title", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.PageUrl, "Page Url", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Manufacturer.PageUrl, new { placeholder = "Page Url", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.PageUrl)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.PageContent.PageTitle, "Page Title", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Manufacturer.PageContent.PageTitle, new { placeholder = "Page Title", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.PageContent.PageTitle)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.PageContent.MetaKeywords, "Meta Keywords", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Manufacturer.PageContent.MetaKeywords, new { placeholder = "Meta Keywords", @class = "form-control", rows = "3", cols = "20" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.PageContent.MetaKeywords)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.PageContent.MetaDescription, "Meta Description", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Manufacturer.PageContent.MetaDescription, new { placeholder = "Meta Description", @class = "form-control", rows = "3", cols = "20" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.PageContent.MetaDescription)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Manufacturer.PageContent.PageContent, "Page Content", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Manufacturer.PageContent.PageContent, new { @class = "form-control", rows = "10", cols = "80" })
                    @Html.ValidationMessageFor(m => m.Manufacturer.PageContent.PageContent)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ManufacturerImage, "Manufacturer Image", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    <input type="file" id="ManufacturerImage" name="ManufacturerImage" />
                    <p class="help-block">Please upload a valid image file.</p>
                    @Html.ValidationMessageFor(m => m.ManufacturerImage)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Vehicle Manufacturer</button>
                </div>
            </div>

        </div>
        
    }
</div>

@section scripts {
    <!-- CK Editor -->
    <script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
    <script types="text/javascript">
        $(function () {
            CKEDITOR.replace('Manufacturer_PageContent_PageContent');
        });
    </script>
}