@model ReservationModifyDateViewModel
@{
    ViewBag.Title = "Modify Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="four columns">
        <div class="nav-block">
            @{Html.RenderPartial("_UserNavigationPartial"); }
        </div>
    </div>


    <div class="eight columns">
        <h1>Modify Reservation</h1>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ReservationId)

            <div class="input-form vertical-form">

                <div class="row">
                    @Html.LabelFor(m => m.PickupDate, "Pickup Date")
                    @Html.DatePickerFor(m => m.PickupDate, new { @class = "datefield" })
                    @Html.HourOfDayDropDownListFor(m => m.PickupTime, new { @class = "timefield" })
                </div>

                <div class="row">
                    @Html.LabelFor(m => m.DropOffDate, "Drop Off Date")
                    @Html.DatePickerFor(m => m.DropOffDate, new { @class = "datefield" })
                    @Html.HourOfDayDropDownListFor(m => m.DropOffTime, new { @class = "timefield" })
                </div>

                <div class="row">
                    <div class="four columns empty-column">&nbsp;</div>
                    <div class="eight columns">
                        <input type="submit" value="Update" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>