@model CampaignViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Campaign.PageContent.PageTitle;
    ViewBag.MetaKeywords = Model.Campaign.PageContent.MetaKeywords;
    ViewBag.MetaDescription = Model.Campaign.PageContent.MetaDescription;
}

<h1>@Model.Campaign.Title</h1>
@if (Model.Campaign.FileUploadId.HasValue) {
    <img src="@Url.Action("Index", "Uploads", new { id = Model.Campaign.CampaignImage.Id, filename = Model.Campaign.CampaignImage.Title + Model.Campaign.CampaignImage.FileExtension })" alt="@Model.Campaign.Title" style="width: 100%;" />
}
@Html.Raw(Model.Campaign.PageContent.PageContent)


<div class="row">
    <div class="twelve columns">
        <h1>Search Results</h1>
    </div>
</div>

@if (Model.Search.Results.Items.Count() > 0) {
    foreach (var result in Model.Search.Results.Items) {
        <div class="row search-result">
            <div class="three columns" style="position: relative;">
                <h3>@result.Vehicle.Title</h3>

                @if (result.Rates.Any(x => x.HasLiveCampaign)) {

                    int? fileId = result.Rates.First(x => x.HasLiveCampaign).LiveCampaignIconFileUploadId;
                    if (fileId.HasValue) {
                        <img src="@Url.Action("Index", "Uploads", new { id = fileId, filename = result.Vehicle.VehicleImage.Title + result.Vehicle.VehicleImage.FileExtension, width = 200 })" style="width: 75px; height: 75px;padding-left:150px;position: absolute;z-index: 10;" class="pull-right" />

                        <img src="@Url.Action("Index", "Uploads", new { id = result.Vehicle.VehicleImage.Id, filename = result.Vehicle.VehicleImage.Title + result.Vehicle.VehicleImage.FileExtension, width = 200 })" alt="@result.Vehicle.Title" style="position: relative;padding-top: 35px;" />
                    }
                    else {
                        <img src="@Url.Action("Index", "Uploads", new { id = result.Vehicle.VehicleImage.Id, filename = result.Vehicle.VehicleImage.Title + result.Vehicle.VehicleImage.FileExtension, width = 200 })" alt="@result.Vehicle.Title" />
                    }

                }
                else {
                    if (result.Vehicle.FileUploadId.HasValue) {

                        <img src="@Url.Action("Index", "Uploads", new { id = result.Vehicle.VehicleImage.Id, filename = result.Vehicle.VehicleImage.Title + result.Vehicle.VehicleImage.FileExtension, width = 200 })" alt="@result.Vehicle.Title" style="position: relative;padding-top: 35px;" />
                    }
                }


            </div>
            <div class="three columns">
                <h4>@result.VehicleGroupName</h4>
                @if (!string.IsNullOrEmpty(result.Vehicle.ShortDescription)) {
                    <p>@result.Vehicle.ShortDescription</p>
                }
                <p>
                    Fuel: Pick up full, return full<br />
                    Insurance: Standard Cover Included
                </p>
                @{Html.RenderPartial("_VehicleAttributesPartial", result.Vehicle);}

            </div>
            @if (result.Rates.Count() > 0) {


                SearchResultItemRateModel firstRate = result.Rates.First();



                using (Html.BeginForm("Book", "Search")) {
                    @*@Html.HiddenFor( x => x.Criteria.Criteria.PickUpLocationId)
                        @Html.HiddenFor(x => x.Criteria.Criteria.DropOffLocationId)
                        @Html.HiddenFor(x => x.Criteria.Criteria.PickupDateTime)
                        @Html.HiddenFor(x => x.Criteria.Criteria.DropOffDateTime)*@
                    @Html.Hidden("vehicleId", result.Vehicle.Id)
                    @Html.Hidden("pickupBranchId", Model.Search.Criteria.Criteria.PickUpLocationId)
                    @Html.Hidden("dropOffBranchId", Model.Search.Criteria.Criteria.DropOffLocationId)
                    @Html.Hidden("pickupDate", Model.Search.Criteria.Criteria.PickupDate)
                    @Html.Hidden("pickupTime", Model.Search.Criteria.Criteria.PickupTime)
                    @Html.Hidden("dropOffDate", Model.Search.Criteria.Criteria.DropOffDate)
                    @Html.Hidden("dropOffTime", Model.Search.Criteria.Criteria.DropOffTime)
                    @Html.Hidden("pickupTimeFull", Model.Search.Criteria.Criteria.PickupTimeFull)
                    @Html.Hidden("dropoffTimeFull", Model.Search.Criteria.Criteria.DropOffTimeFull)

                    <div class="three columns">
                        <h4>Select your Rate</h4>
                        <div class="rates-selection" data-vehicle-id="@result.Vehicle.Id">
                            @foreach (var r in result.Rates) {
                                bool isCountdownRate = false;
                                if (Model.Search.CountdownSpecial != null) {
                                    if (Model.Search.CountdownSpecial.SpecialType == CountdownSpecialType.TextOnInvoice) {
                                        isCountdownRate = r.CanUseCountdownSpecial;
                                    }
                                    if (Model.Search.CountdownSpecial.SpecialType == CountdownSpecialType.VehicleUpgrade) {
                                        if (Model.Search.CountdownSpecial.VehicleUpgradeFromId == result.Vehicle.Id) {
                                            isCountdownRate = r.CanUseCountdownSpecial;
                                        }
                                    }
                                }

                                <div class="inline-input">
                                    @Html.RadioButton("radRates_" + result.Vehicle.Id, "radRates_" + r.RateId, r.RateId == firstRate.RateId, new { id = "radRates_" + r.RateId + "_" + result.Vehicle.Id, data_total = decimal.Round(r.PriceCalculation.BookingPrice, 2), data_cost = decimal.Round(r.PriceCalculation.AdjustedPrice, 2), data_days = r.PriceCalculation.NumberOfDays, data_tax = decimal.Round(r.PriceCalculation.TaxAmount, 2), data_dropOffFee = r.PriceCalculation.DropOffFee, data_vehicle_id = result.Vehicle.Id, @class = "rate-selector" })
                                    @if (string.IsNullOrEmpty(r.RateCodeColor)) {
                                        <label for="radRates_@(r.RateId)_@result.Vehicle.Id" class="@(isCountdownRate ? "count-down-special-rate" : null)">@r.RateCodeTitle</label>
                                    }
                                    else {
                                        <label style="color: @(r.RateCodeColor);" for="radRates_@(r.RateId)_@result.Vehicle.Id" class="@(isCountdownRate ? "count-down-special-rate" : null)">@r.RateCodeTitle</label>
                                    }

                                    @if (isCountdownRate) {
                                        @Html.Hidden("countDownSpecialRate", r.RateId)
                                        <div class="count-down-special-container">
                                            Book in the next
                                            <span class="count-down-special"></span>
                                            and you will receive <em>@Model.Search.CountdownSpecial.OfferText</em>



                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="three columns align-right">
                        @if (Model.Search.CountdownSpecial != null) {
                            @Html.Hidden("countDownSpecialId", Model.Search.CountdownSpecial.Id)
                        }
                        <span class="price" id="rate-price-@result.Vehicle.Id"></span>
                        <span class="price-context">for @Model.Search.Criteria.Criteria.NumberOfDays day/s</span>

                        <input type="submit" value="Book Now" />

                        <span class="price-fine">Excl @firstRate.PriceCalculation.AdminFee.ToString("R #,##0") Contract Fee</span>

                        @if (Model.Search.Criteria.Criteria.PickUpLocationId == 4) {
                            <span class="price-fine">Excl R25 e-toll Daily</span>
                        }




                    </div>
                }
            }

        </div>
                        }
                    }
                    else {
                        <div class="row">
                            <div class="twelve columns">
                                <p>No results found</p>
                            </div>
                        </div>
                    }

@section scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.format-1.3.min.js")"></script>

    @if (Model.Search.Results != null) {
        <script type="text/javascript">
            $(document).ready(function () {



                function setPriceForVehicle(selectedRate) {
                    var vehicleId = selectedRate.attr("data-vehicle-id");
                    var total = selectedRate.attr("data-total");
                    var cost = selectedRate.attr("data-cost");
                    var days = selectedRate.attr("data-days");
                    var tax = selectedRate.attr("data-tax");
                    var dropOffFee = selectedRate.attr("data-dropOffFee");


                    var tooltipText = "Rental: R " + $.format.number(cost, '#,##0.00') + " x " + days + " days\n";
                    tooltipText += " + Tax: R " + $.format.number(tax, '#,##0.00') + "\n";
                    if (dropOffFee > 0) {
                        tooltipText += " + Drop Off fee: R " + $.format.number(dropOffFee, '#,##0.00') + "\n";
                    }
                    tooltipText += "=================\n"
                    tooltipText += "R " + $.format.number(total, '#,##0.00');

                    $("#rate-price-" + vehicleId).html("R " + $.format.number(total, '#,##0.00')).attr("title", tooltipText);;
                }

                $("input[type='radio'].rate-selector").on("change", function () {
                    var vehicleId = $(this).attr("data-vehicle-id");
                    setPriceForVehicle($(this));
                    //var cost = $(this).attr("data-cost");
                    //$("#rate-price-" + vehicleId).html("R " + $.format.number(cost, '#,##0.00'));
                });

                $("div.rates-selection").each(function () {
                    var vehicleId = $(this).attr("data-vehicle-id");
                    var selectedRate = $("input[name='radRates_" + vehicleId + "']:checked");
                    setPriceForVehicle(selectedRate);


                    //var cost = selectedRate.attr("data-cost");
                    //$("#rate-price-" + vehicleId).html("R " + $.format.number(cost, '#,##0.00'));
                });

            });
        </script>
    }
}