@model RateUpdateViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section H1 {
    <h1>Add Rates</h1>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add Rates</h3>
    </div><!-- /.box-header -->

    @using (Html.BeginForm("Add", "Rates", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {

        <div class="box-body">

            <input type="hidden" name="branches" value="@ViewBag.Branches" />
            <input type="hidden" name="ratecodeid" value="@ViewBag.RateCodeId" />

            <div class="form-group">
                <label class="col-sm-2 control-label">Rate Code</label>
                <div class="col-sm-10">
                    @Model.RateCode.Title
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Selected Branches</label>
                <div class="col-sm-10">
                    @foreach (var b in Model.SelectedBranches) {
                        <text>@(b.Title),&nbsp; </text>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label for="IsOpenEnded">
                            @Html.CheckBoxFor(m => m.IsOpenEnded) Is Open Ended
                        </label>
                    </div>
                    @Html.ValidationMessageFor(m => m.IsOpenEnded)

                </div>
            </div>

            <div id="rate-dates">
                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate, "Start Date", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Start Date", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate, "End Date", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.EndDate, new { placeholder = "End Date", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>
            </div>

            @foreach (var v in Model.VehicleGroups) {
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="vg_@(v.Id)">@v.Title Rate</label>
                    <div class="col-sm-10">
                        <input name="vg_@(v.Id)" id="vg_@(v.Id)" type="text" placeholder="@v.Title Rate" value="" class="form-control" />
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Rates</button>
                </div>
            </div>

        </div>

    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            showHideDates();
            $('#StartDate,#EndDate').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy/mm/dd',
            });
            $("#IsOpenEnded").on("change", function () {
                showHideDates();
            });
            function showHideDates() {
                var checked = $("#IsOpenEnded").is(":checked");
                if (checked) {
                    $('#StartDate,#EndDate').val("");
                    $("#rate-dates").hide();
                } else {
                    $("#rate-dates").show();
                }
            }
        });

    </script>
}