@model ContactUsNotificationModel
<p>
    Name: <strong>@Model.FullName</strong><br />
    Email: <strong>@Model.Email</strong><br />
    Phone: <strong>@Model.ContactNumber</strong><br />
    Country: <strong>@Model.Country</strong><br />
    Branch: <strong>@Model.Branch</strong>  <br />  
    Subject: <strong>@Model.Subject</strong><br />
    Message: <strong>@Model.Message</strong><br />
</p>