@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="four columns">
        <div class="nav-block">
            @{Html.RenderPartial("_UserNavigationPartial"); }
        </div>
    </div>

    <div class="eight columns">

        <h2>Change Password</h2>


        @using (Html.BeginForm()) {
            <div class="input-form vertical-form">
                <div class="row">
                    <div class="four columns">
                        @Html.LabelFor(m => m.Password, "Current Password")
                    </div>
                    <div class="eight columns">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Current Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="row">
                    <div class="four columns">
                        @Html.LabelFor(m => m.NewPassword, "New Password")
                    </div>
                    <div class="eight columns">
                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        @Html.LabelFor(m => m.ConfirmNewPassword, "Confirm New Password")
                    </div>
                    <div class="eight columns">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                </div>

                <div class="row">
                    <div class="four columns empty-column">&nbsp;</div>
                    <div class="eight columns">
                        <input type="submit" value="Change Password" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>