@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h1>Reset Password</h1>
    </div>
</div>

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.Token)
    @Html.AntiForgeryToken()
    <div class="input-form">
        <div class="row">
            <div class="four columns">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="eight columns">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="row">
            <div class="four columns">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="eight columns">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="row">
            <div class="four columns empty-column">&nbsp;</div>
            <div class="eight columns">
                <input type="submit" value="Reset Password" />
            </div>
        </div>
    </div>
}
